<% if (title) { %>
 <h1><%= title %></h1>
<% } else { 
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
 <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <% }) %>
 </ul>
<% } %>

<h2>Welcome, <%= locals.accountData.account_firstname %> <%= locals.accountData.account_lastname %>!</h2>
<p>You're logged in.</p>

<a href="#">Edit Account Information</a>